.App {
  text-align: center;
}

.image-container {
  width: 100vw;
  margin: 0;
}

.main-image {
  width: 100vw;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 1px black, -0.5px -0.5px 1px black;
}

.buy-now-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buy-now-button:hover {
  background-color: lightgrey;
}

/* Scrolling Text */
.scrolling-text {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background-color: #5d4533; /* Brown background */
  color: white;
  font-size: 18px;
  padding: 10px 0;
  white-space: nowrap;
}

.scrolling-text span {
  display: flex;
  white-space: nowrap;
  /*padding-right: 100vw; /* Ensure space before repeating */
  animation: scroll-right 40s linear infinite; /* Adjust the speed of the scroll */
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
    //left: 0;
  }
  100% {
    transform: translateX(100%);
    //left: -100%;
  }
}
